*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.sky{
    height: 35vw;
    width: 100%;
    background-image: url(./images/background.jpg);
    /* z-index: 1; */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    }

.trees{
    height: 35vw;
    width: 100%;
    position: absolute;
    background-image: url(./images/trees.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:20vh;
}
.track{
    height: 20vw;
    width: 500vw;
    background-image: url(./images/track.png);  
    position: absolute;
    background-repeat:repeat-x;
    background-size: cover;
    margin-top: 35vw;
    animation: trackMove linear 2s infinite;

}
.car{
    
    height: 10vw;
    width: 35vw;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(./images/car_body.png);
    background-size: cover;
    left: 25vw;
    top: 26vw;
}

.wheelAni1{
    animation: shake1 linear 2.5s infinite;
 
}
.wheel1 img{
    width: 6vw;
    top: 4.3vw;
    left: 4.6vw;
    position: relative;
    animation: wheelRotate linear .10s infinite;
   

}
.wheelAni2{
    animation: shake2 linear 2s infinite;
}
.wheel2 img{
    width: 5.6vw;
    top: -1.6vw;
    left: 22.6vw;
    position: relative;
    animation: wheelRotate linear .10s infinite;

}

@keyframes wheelRotate {
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes trackMove {
    100%{
        transform:translateX(-500vh)
    }
    
}
/* @keyframes shake {
    0%{
        transform:translatey(-1vh)
    }
    50%{
        transform:translatey(1vh)

    }
    100%{
        transform:translatey(-1vh)

    }
    
} */
@keyframes shake1 {
    0%{
        transform:translatey(-.2vh)
    }
    50%{
        transform:translatey(.2vh)

    }
    100%{
        transform:translatey(-.2vh)

    }
    
}
@keyframes shake2 {
    0%{
        transform:translatey(.2vh)
    }
    50%{
        transform:translatey(-.2vh)

    }
    100%{
        transform:translatey(.2vh)

    }
    
}
